<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form action="{% url 'edit_task' task.pk %}" method="POST">
        {% csrf_token %}
        <label for="editask">Edit Task:</label>
        <input type="text" id="editask" name="editask" value="{{ task.kia }}" required>
        <br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
